<!-- chat/templates/chat/lobby.html -->
{% extends "base.html" %}
{% block content %}
    <h1 class = "text-center">Lobby</h1><br>
    <h2>What chat room would you like to enter?</h2><br>
    <form>
        <div class = "form-group">
        <input id="room-name-input" class = "form-control"type="text" size="100"><br>
        <input id="room-name-submit" class = "btn btn-primary" type="button" value="Enter">
        </div>
    </form>

    <script>
        document.querySelector('#room-name-input').focus();
        var input = document.querySelector('#room-name-input').value;
        
        document.querySelector('#room-name-submit').addEventListener('keypress', function(e) {
            if (e.key === "Enter") { // enter, return
                e.preventDefault();
                document.querySelector('#room-name-submit').click();
            }
        });
        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock %}
